
main {
    width: 100vw;
}

.container {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    margin:10px;
}

.form-background {
    max-width:900px;
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-background img {
    width:200px;
    height:200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-top:20px;
}

form input:placeholder-shown{
    height: 15px;
}

form input:focus {
    height: 45px;
}

form button {
    margin: 20px;
}

.btCadastro {
    align-self: flex-end;
}


