header {
    width: calc(100vw - 1px);
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
}




.header-background {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    margin:0px 10px 0px 10px;
}



.logo {
    display: flex;
    margin-left: 80px;
    
}

.logo img {
    margin-right: 20px;
}

.buttons {
    display: flex;
    align-items: center;

}
.buttons button {
    margin:20px;
}




@media (max-width:728px){
    .header-background {
        justify-content: center;
    }
    .buttons {
        justify-content: center;
        margin:10px;
    }
    .buttons button {
        margin:5px;
    }
    .logo {
        margin-left:30px;
    }
}