* {
  font-family: 'Share Tech Mono', monospace;
}

body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #86EFAC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
